[submodule "WeatherApi"]
	path = WeatherApi
	url = https://github.com/mikkoryynanen/WeatherApi.git
[submodule "ApiGateway"]
	path = ApiGateway
	url = https://github.com/mikkoryynanen/ApiGateway
[submodule "IdentityServer"]
	path = IdentityServer
	url = https://github.com/mikkoryynanen/IdentityServer
